# Conexão com o Banco de Dados (Pegue na Railway)
DATABASE_URL="mysql://root:oyKSzbHlVwihTbDflVYybpnojBzDoqWG@yamanote.proxy.rlwy.net:11997/railway"

# Segredo para o Login funcionar (Pode inventar qualquer senha difícil aqui)
AUTH_SECRET="*\AEC@01623/*"
